*{
    margin: 0;
    padding: 0;
    font-family: "Playwrite AU TAS", cursive;
    /* font-family: "Playwrite US Modern", cursive; */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #543527;
    color: #fff;
}

.spacer {
    height: 60px;
    position: relative;
    margin-top: 1px;
    margin-bottom: 1px;
}

.skills-spacer {
    margin-top: 200px;
    height: 60px;
    top: 100;
}

#header {
    width: 80%;
    height: 70vh;
    border-radius: 5%;
    margin-top: -150px;
    margin-left: 10%;
    background-size: cover;
    background-position: center;
    max-height: min-content;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    /* background: rgba(50,50,50,.5); */
    background: #78503e;
    color: #000;
}

.logo {
    width: 100px;
    border-radius: 70%;
    margin-left: 10px;
    padding: 1%;
}
nav .name {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    right: 0;
}

nav .name .words{
    text-decoration: none;
    font-size: 18px;
    position: sticky;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    position: sticky;
    color: #000;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
} 

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin: 20% 10%;
    margin-left: 0;
    font-size: 35px;
    display: flex;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.each-img {
    width: 80vw;
    height: 70vh;
    margin: 0;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.image-slide {
    display: inline-block;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    animation: 90s slide infinite linear;
}

.rotating-images {
    white-space: nowrap;
    font-size: 0;
    display: flex;
    margin: 0;
    left: 0;
    overflow: hidden;
    left: -50px;
    max-height: 70vh;
    border-radius: 5%;
}

.header-words {
    position: absolute;
    margin: 20%;
    margin-top: -15px;
    margin-left: 15px;
    /* background: #f2dca2; */
    border-radius: 10%;
    /* background: rgba(231,252,222, .7); */
}

.header-space {
    width: 10%;
}

.header-image {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    margin-right: 0;
    float: right;
    overflow: none;
}

.header-text h1 {
    font-size: 40ox;
    margin-top: 20px;
}

.header-text h1 span {
    color: #fff;
}

#about {
    padding: 80px 0;
    color: #ababab;   
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #e3c7ba;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500x;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#skills {
    padding: 30px 0;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div {
    background: #78503e;
    color: #e3c7ba;
    font-weight: 300;
    border-radius: 10px;
    transition: .5s;
}

.skill {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.skill p {
    font-size: 60x;
    align-self: center;
    text-align: center;
    width: 100%;
}

.skill-image {
    height: 70px;
    width: 70px;
    padding: 10px;
}

.skills-list div:hover {
    background: #e3c7ba;
    color: #543527;
    transform: translateY(-10px);
}

#projects {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position:relative;
    overflow: hidden;
    z-index: 0;
    outline: 2px solid #e3c7ba;
}

.work-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    display: block;
    transition: transform .5s;
}

.work-title {
    background: #e3c7ba;
    color: #543527;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.layer {
    top: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(#543527, rgba(189, 158, 143, .6));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height .5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer p {
    margin-top: -40px;
}

.layer a {
    margin-top: 20px;
    color: #543527;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e3c7ba;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #e3c7ba;
    transition: .5s;
}

.btn:hover {
    background: #e3c7ba;
    color: #543527;
}

.contact-column {
    color: #e3c7ba;
    text-align: center;
    flex-basis: 35%;
}

.contact-column p i {
    margin: 5px;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
    color: #ababab;
    display: inline-block;
    transition: .5s;
}

.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px);
}